@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Lato");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  border: none; }

body {
  font-family: Lato, "Open Sans", sans-serif;
  background-color: #fff;
  color: #003459; }

h1, h2 {
  font-family: Roboto, "Open Sans", sans-serif; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms ease, background-color 300ms ease; }
  a:hover {
    color: #fff;
    background-color: #00528c; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  font-size: 1em;
  font-weight: 600;
  text-transform: capitalize; }
  button:active {
    background-color: #e6e6e6; }

blockquote {
  margin-top: 50px;
  border-left: solid 10px #028090;
  color: #fff;
  background-color: #003459;
  padding: 40px;
  font-style: italic; }
  blockquote::before {
    position: absolute;
    left: 15px;
    transform: translateY(-69px);
    text-shadow: 4px 0px #003459;
    content: '“';
    font-style: normal;
    font-size: 6em;
    font-family: "Arial"; }
  blockquote::after {
    position: absolute;
    margin-top: 7px;
    right: 15px;
    text-shadow: 4px 0px #003459;
    font-family: "Arial";
    content: '”';
    font-style: normal;
    font-size: 6em; }
  blockquote cite {
    display: block;
    margin-top: 20px;
    font-style: normal; }
    blockquote cite::before {
      content: "— "; }

.section {
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  display: block;
  font-size: 1.2em; }
  .section p {
    margin-top: 30px; }
  .section ul {
    margin: 5px;
    margin-left: 20px; }
    .section ul li:nth-child(1) {
      margin-top: 20px; }
    .section ul li:last-child {
      margin-bottom: 20px; }

.section-1 h2 {
  color: #003459; }
.section-1 p {
  color: #003459; }

.section-2 {
  padding: 0px;
  padding-top: 40px;
  text-align: center;
  background-color: #fce38a;
  color: #003459; }
  .section-2 p {
    padding-left: 40px;
    padding-right: 40px; }
  .section-2 blockquote {
    text-align: left;
    margin-top: 40px; }

.sign-up {
  background-color: #fce38a;
  color: #fff; }
  .sign-up:active {
    background-color: #fbd758; }

.hero {
  padding: 50px;
  max-width: 100%;
  text-align: center;
  color: #003459;
  background-repeat: repeat;
  background-color: #fff; }

.logo {
  max-width: 500px; }

.logo-subtitle {
  font-size: 1.3em;
  cursor: default; }

.hero-images {
  margin-top: 0px;
  margin-bottom: -5px; }
  .hero-images img {
    margin-bottom: 0px;
    object-fit: cover;
    width: 33.333%;
    height: 280px; }

.nav {
  position: sticky;
  top: 0px;
  z-index: 50;
  background-color: #003459;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .nav a {
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px;
    transition: background-color 300ms ease; }
  .nav a:hover {
    background-color: #00528c; }

@media only screen and (max-width: 1100px) {
  .nav a {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px; } }
@media only screen and (max-width: 900px) {
  .nav {
    position: relative;
    padding: 0px; }

  .nav a {
    display: block;
    padding: 15px;
    border-bottom: solid 2px #00528c; }

  .nav a:last-child {
    border-bottom: none; } }
.reviews {
  color: #666666;
  text-align: center;
  margin: 50px; }
  .reviews .star-rating {
    color: #028090;
    margin-bottom: 15px;
    font-size: 2.5em; }
    .reviews .star-rating span {
      margin-left: 1px;
      margin-right: 1px; }

.menu-snippet {
  margin-top: 50px;
  text-align: center; }
  .menu-snippet .menu-snippet-content img {
    display: inline-block;
    width: 300px;
    border-radius: 3px; }
  .menu-snippet .menu-snippet-content > div {
    padding: 20px;
    padding-bottom: 0px;
    display: inline-block;
    text-align: left;
    vertical-align: top; }
    .menu-snippet .menu-snippet-content > div > .dish-name {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1.3em; }
    .menu-snippet .menu-snippet-content > div > h2 {
      margin-bottom: 20px;
      color: #02c39a; }
    .menu-snippet .menu-snippet-content > div > a {
      color: #00528c;
      font-size: 1.3em;
      display: inline-block;
      margin-top: 20px; }
      .menu-snippet .menu-snippet-content > div > a:hover {
        color: #fff; }

.embed-map {
  text-align: center;
  margin-top: 50px; }
  .embed-map > iframe {
    width: 90%;
    height: 400px;
    max-width: 800px; }

.menu {
  padding: 20px;
  text-align: center; }
  .menu .menu-links {
    margin-bottom: 20px; }
    .menu .menu-links a {
      display: inline-block;
      margin: 0px;
      margin-left: 10px;
      margin-right: 10px; }

.restaurant-location {
  text-align: center;
  margin-bottom: 50px; }
  .restaurant-location p {
    margin-top: 20px; }
  .restaurant-location .directions {
    display: inline-block;
    padding: 20px;
    padding-bottom: 30px;
    margin: 5%;
    margin-top: 30px;
    vertical-align: top;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); }
    .restaurant-location .directions h2 {
      display: inline-block;
      border-bottom: solid 2px #02c39a; }
    .restaurant-location .directions .dir-element {
      display: block;
      font-size: 1.2em; }
      .restaurant-location .directions .dir-element .transit-icon {
        margin-left: 1px;
        margin-right: 1px;
        transform: translateY(8px);
        width: 30px;
        height: auto; }

/*# sourceMappingURL=App.css.map */
