.embed-map {
  margin-top: 50px;
  text-align: center;
  iframe {
    width: 90%;
    height: 400px;
    max-width: 800px;
  }
  #g_map {
    display: inline-block;
    width: 90%;
    height: 400px;
    max-width: 800px;
  }
}
