.menu-snippet {
  margin-top: 50px;
  text-align: center;
  .menu-snippet-content {
    img {
      display: inline-block;
      width: 300px;
      border-radius: 3px;
    }
    > div {
      padding: 20px;
      padding-bottom: 0px;
      display: inline-block;
      text-align: left;
      vertical-align: top;
      > .dish-name {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 1.3em;
      }
      > h2 {
        margin-bottom: 20px;
        color: $color3;
      }
      > a {
        color: lighten($color5, 10%);
        font-size: 1.3em;
        display: inline-block;
        margin-top: 20px;
        &:hover {color: $color1}
      }
    }
  }
}
