.menu {
  padding: 20px;
  text-align: center;
  .menu-links {
    margin-bottom: 20px;
    a {
      display: inline-block;
      margin: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }
   }
}
