.menu {
  padding: 20px;
  text-align: center;
  .menu-links {
    margin-bottom: 20px;
    a {
      border-bottom-color: #ffffff;
      transition: border-bottom-color 300ms ease;
      display: inline-block;
      margin: 0 10px;
      &:hover {
        background-color: inherit;
        color: inherit;
        border-bottom: 2px solid $color3;
      }
    }
    .menu-active {
      border-bottom: 2px solid $color3;
    }
  }
}
