.order-online {
  text-align: center;
  margin-top: 50px;
  h2 {
    margin-bottom: 35px;
  }

  .partner-logo {
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    max-width: 250px;
    max-height: 250px;
  }
}
