.reviews {
  color: darken($color1, 60%);
  text-align: center;
  margin: 50px;
  .star-rating {
    color: $color4;
    margin-bottom: 15px;
    font-size: 2.5em;
    span {
      margin-left: 1px;
      margin-right: 1px;
    }
  }
}
