@import url('https://fonts.googleapis.com/css?family=Roboto|Lato');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$heading-fonts: Roboto, "Open Sans", sans-serif;
$body-fonts: Lato, "Open Sans", sans-serif;

$color1: #fff;
$color2: #fce38a;
$color3: #02c39a;
$color4: #028090;
$color5: #003459;

* { margin: 0; padding: 0; border: none; }
*::selection {
  background: $color2;
}

body {
  font-family: $body-fonts;
  background-color: $color1;
  color: $color5;
}

h1, h2 { font-family: $heading-fonts; }
h1 { font-size: 4em; }
h2 { font-size: 2em; }

a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms ease, background-color 300ms ease;
  &:hover {
    color: $color1;
    background-color: lighten($color5, 10%);
  }
}

.section {
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  display: block;
  font-size: 1.2em;
  p { margin-top: 30px; }
  ul {
    margin: 5px; margin-left: 20px;
    li:nth-child(1) {
      margin-top: 20px;
    }
    li:last-child {
      margin-bottom: 20px;
    }
  }
}

.section-1 {
  h2 { color: $color5; }
  p { color: $color5; }
}

.section-2 {
  padding: 0px;
  padding-top: 40px;
  text-align: center;
  background-color: $color2;
  color: $color5;
  p { padding-left: 40px; padding-right: 40px;}
  blockquote { text-align: left;
    margin-top: 40px; }
}

.sign-up {
  background-color: $color2;
  color: $color1;
  &:active {
    background-color: darken($color2, 10%);
  }
}

@import 'hero';
@import 'nav';
@import 'blockquote';
@import 'reviews';
@import 'menu-snippet';
@import 'embed-map';
@import 'menu';
@import 'restaurant-location';
@import 'reservations';
@import 'order-online';
@import 'hours';
@import 'contact';
@import 'social-links';
@import 'footer';
